.bg-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    background-image: url('./../../src/assets/images/breadcrumb.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #4c5be38d;
    background-blend-mode: overlay;
}
.bg-img .img1 {
    position: absolute;
    right: 0;
    bottom: 0;
}
.bg-img .img2 {
    position: absolute;
    left: 0;
}