.pric-sec{
    padding-bottom: 170px;
}
.month-year {
    border: 1px solid #d8e0ff;
    width: max-content;
}
.monthly {
    background-color: #384bff;
}
.save {
    color: #384bff;
}

@media (max-width: 576px) {
    .price-head {
        flex-direction: column;
        align-items: center !important;
        gap: 0px !important;
    }
}