.client-card {
    border: none;
    background-color: white !important;
}
.client-mid-card {
    border: none;
    background-color: #384bff !important;
    color: white;
}
@media (max-width: 576px) {
    .client-card {
        display: none;
    }
}