.blog-card {
    height: 500px;
    margin: 0 auto;
}
.blog-card >img {
    height: fit-content;
}
.blog-card .b-card {
    width: 85% !important;
    background-color: white !important;
    border: none;
    position : absolute;
    transform: translateY(-50%);
    top: 50%;
}
@media (max-width: 576px) {
    .blog-card > img {
        width: 95%;
    }
}