.card {
    border-radius: 20px;
    background-color: #f3f7fb !important;
    border-color: #d8e0ff !important;
}
.card Button {
    border: 1px solid #c3c8ff;
}
.icon {
    border: 1px solid #c3c8ff;
    width: 40px;
    height: 40px;
    color: #384bff;
}