.mem-btn {
    background-color: #384bff;
    height: fit-content;
}
.mem-card {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}
 .line2 {
    flex-grow: 1;
    height: 1px;
    background-color: gray;

 }
